In [1]:
import requests
import numpy as np
import matplotlib.pyplot as plt

In [2]:
msk_salary=[]
msk_name=[]
for i in range(100):
  url="https://api.hh.ru/vacancies?text=Аналитик&area=1&search_field=name&per_page=1&page={}".format(str(i))
  items=requests.get(url).json()['items']
  for item in items:
    msk_salary+=[item['salary']]
    msk_name+=[item['name']]

In [3]:
spb_salary=[]
spb_name=[]
i=100
while i:
  url="https://api.hh.ru/vacancies?text=Аналитик&area=2&search_field=name&per_page=1&page={}".format(str(i))
  items=requests.get(url).json()['items']
  for item in items:
    spb_salary+=[item['salary']]
    spb_name+=[item['name']]
  i=i-1

In [4]:
msk=[]
for i in range (100):
  msk+=[[msk_name[i], msk_salary[i]]]

In [5]:
spb=[]
for i in range (100):
  spb+=[[spb_name[i], spb_salary[i]]]

In [6]:
spb_clean=[]
for sal in spb:
  if sal[1] is not None:
    if sal[1]['currency']=='RUR':
      coef=1
    else:
      coef=60 
    if sal[1]['gross']==True:
      gross=1
    else:
      gross=0.87
    if (sal[1]['from'] is not None):
      spb_clean+=[[sal[0], sal[1]['from']*coef*gross]]

In [7]:
msk_clean=[]
for sal in msk:
  if sal[1] is not None:
    if sal[1]['currency']=='RUR':
      coef=1
    else:
      coef=60 
    if sal[1]['gross']==True:
      gross=1
    else:
      gross=0.87
    if (sal[1]['from'] is not None):
      msk_clean+=[[sal[0], sal[1]['from']*coef*gross]]

In [8]:
sal_array=[]
max_sal=0
for sal1 in spb_clean:
  for sal2 in msk_clean:
    if (sal1[1]>sal2[1] and sal1[0]==sal2[0]):
      sal_array+=[sal1[0], sal1[1]]
      if (sal1[1]>max_sal):
        max_job=sal1[0]
        max_sal=sal1[1]
print(len(sal_array))
print(max_job, max_sal)

18
Бизнес-аналитик 150000